* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
.wrap{
  overflow: hidden;
}
/* トップイメージ */
.mv {
  background-image: url(https://github.com/k-watanabe-n/watanabe.github.io/blob/master/_KAZ4573.jpg?raw=true);
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.mv::before {
  background: #000304;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
}

.container h1 {
  color: #fff;
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.s-br {
  display: none;
}
.mv-w {
  color: #d19551;
}
.container p {
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%);
}

/* ナビバー */
.nav {
  background: rgb(24, 24, 24);
  height: 70px;
  width: 100%;
}

#global-nav.m_fixed {
  left: 0;
  position: fixed;
  top: 0;
  z-index: 100;
}
.nav ul {
  display: flex;
  justify-content: center;
}

.nav ul li a {
  display: block;
  font-size: 15px;
  color: #fff;
  line-height: 70px;
  padding: 0 20px;
  transition: 0.6s;
}
.nav ul li a:hover {
  background-color: hsla(224, 100%, 78%, 0.699);
}

/* アバウト */

.about {
  background-color: rgba(214, 214, 214, 0.39);
}
.a-container {
  width: 100%;
  margin: 100px auto 0;
  height: 500px;
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
  font-size: 40px;
  margin: 0 0 100px 0;
  padding-top: 100px;
  color: #444;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.a-container img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-right: 100px;
  border-radius: 100%;
}

.a-container h3 {
  margin-bottom: 15px;
  color: #444;
}
.a-container p {
  color: #444;
}
.a-container p:nth-of-type(1) {
  margin-bottom: 20px;
}

/* サービス */

.service {
  background-image: url(images/_KAZ4586.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 100vh;
  width: 100%;
}
.service::before {
  background-color: rgba(0, 0, 0, 0.637);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}
.service h2 {
  color: #eee;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s-container {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.s-box {
  text-align: center;
  width: 80%;
  margin: 0 20px;
  color: #eee;
}

.s-box .fas {
  font-size: 60px;
  color: #eee;
  margin: 20px 0 30px 0;
}

.s-box h3 {
  font-size: 25px;
  color: #eee;
  margin-bottom: 40px;
  position: relative;
}

.s-box h3::before {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background: #5885ff;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.s-box p {
  text-align: left;
  color: rgb(255, 255, 255);
  line-height: 1.8;
}

/* ポートフォリオ */

.port {
  width: 100%;
  background-color: #dadeff63;
  height: 100vh;
}
.p-container {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

.p-box {
  width: 80%;
  height: 350px;
  margin: 0 20px;
  overflow: hidden;
}

.p-box img {
  width: 100%;
  height: 300px;
  /* object-fit: cover; */
}

/* コンタクト */
.c-container {
  /* background-color: rgb(255, 174, 174); */
  height: 100vh;
  display: flex;
  justify-content: center;
}

.form {
  /* background: burlywood; */
  width: 50%;
}

.form .i-name {
  font-size: 18px;
  font-weight: bold;
  color: rgb(24, 24, 24);
}

.form input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  color: #444;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 5px;
  margin-top: 7px;
  margin-bottom: 40px;
}

.form input::placeholder {
  color: #aaa;
}
.form textarea::placeholder {
  color: #aaa;
}

.form .content {
  width: 100%;
  padding: 5px;
  font-size: 17px;
  color: #444;
  border: 1px solid #aaa;
  outline: none;
  border-radius: 5px;
  margin-top: 7px;
  margin-bottom: 20px;
}

.btn {
  display: block;
  margin: 20px auto;
  padding: 10px 40px;
  font-size: 20px;
  color: #5885ff;
  transition: 0.5s;
}

.btn:hover {
  cursor: pointer;
  background-color: #eee;
}

/* フッター */

footer {
  width: 100%;
  height: 80px;
  background: rgb(27, 27, 27);
}

footer p {
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 80px;
}

/* スマホ 768px*/

@media (max-width: 768px) {
  /* スマホナビバー */
  .nav {
    background: rgb(158, 158, 158);
    height: 70px;
    width: 100%;
  }
  
  .nav ul li a {
    display: block;
    font-size: 15px;
    color: #fff;
    line-height: 70px;
    padding: 0 10px;
    transition: 0.6s;
  }
  /* #global-nav.m_fixed {
    display: none;
  } */
  /* スマホアバウト */
  .container h1 {
    color: #fff;
    font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 35px;
    text-align: center;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .s-br {
    display: block;
  }

  .a-container {
    width: 100%;
    margin: 100px auto 0;
    height: 830px;
    display: block;
  }
  .a-container img {
    display: block;
    width: 300px;
    height: 300px;
    margin: 0 auto 40px;
    object-fit: cover;
    border-radius: 100%;
  }
  .a-container h3 {
    margin-bottom: 15px;
    font-size: 25px;
    color: #444;
    text-align: center;
  }
  .a-container p {
    color: #444;
    font-size: 13px;
    text-align: center;
    line-height: 2;
  }
  .a-r-box {
    margin: 0 10px;
  }
  /* スマホサービス */

  .service {
    background-image: url(images/_KAZ4586.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 1350px;
    width: 100%;
  }
  .service h2 {
    color: #eee;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .s-container {
    display: block;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .s-box {
    text-align: center;
    width: 80%;
    margin: 0 auto 30px;
    color: #eee;
  }
  /* スマホポートフォリオ */

  .port {
    height: 1300px;
    background-color: rgb(201, 201, 201);
  }

  .p-container {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  .p-box {
    width: 80%;
    height: 300px;
    margin: 0 auto 50px;
    overflow: hidden;
  }

  /* スマホフォーム */
  .form {
    /* background: burlywood; */
    width: 90%;
  }
}
